<section class="hero is-medium is-primary is-bold">
	<div class="hero-body">
		<div class="container">
			<h1 class="title">
				The BEST NodeJS ecommerce... EVER!
			</h1>
			<h2 class="subtitle">
				We sell good stuff
			</h2>
		</div>
	</div>
</section>